/* Extends */
%titulos {
  font-size: 1.2rem;
  text-align: left;
  text-indent: 45px;
  letter-spacing: 4px;
  text-shadow: black 6px 6px 8px;
  text-transform: uppercase;
}
%bordeTextoTabla {
  border: 2px dotted #009000;
}
